body {
  margin: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#canvaswrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

#canvaswrapper canvas {
  image-rendering: pixelated;
  /* Width and height controlled by JS to letterbox in the #canvaswrapper */
  margin: auto;
}
